const { DB_HOST, DB_NAME, DB_USERNAME, DB_PASSWORD } = process.env

module.exports = [
  {
    name: 'development',
    type: 'postgres',
    host: DB_HOST ? DB_HOST : 'localhost',
    port: 5432,
    username: DB_USERNAME ? DB_USERNAME : 'postgres',
    password: DB_PASSWORD ? DB_PASSWORD : 'postgres',
    database: DB_NAME ? DB_NAME : 'your_db_name',
    synchronize: false,
    logging: false,
    entities: ['src/database/entities/**/*.ts'],
    migrations: ['src/database/migrations/**/*.ts'],
    subscribers: ['src/database/subscriber/**/*.ts'],
    cli: {
      entitiesDir: 'src/database/entities',
      migrationsDir: 'src/database/migrations',
      subscribersDir: 'src/database/subscriber',
    },
  },
  {
    name: 'production',
    type: 'postgres',
    host: DB_HOST ? DB_HOST : 'localhost',
    port: 5432,
    username: DB_USERNAME ? DB_USERNAME : 'postgres',
    password: DB_PASSWORD ? DB_PASSWORD : 'postgres',
    database: DB_NAME ? DB_NAME : 'your_db_name',
    synchronize: false,
    logging: false,
    entities: ['dist/database/entities/**/*.js'],
    migrations: ['dist/database/migrations/**/*.js'],
    subscribers: ['dist/database/subscriber/**/*.js'],
    cli: {
      entitiesDir: 'dist/database/entities',
      migrationsDir: 'dist/database/migrations',
      subscribersDir: 'dist/database/subscriber',
    },
  },
]
